# SYSTEM
COMPOSE_PROJECT_NAME=bot-in-the-shell
PROJECT_PREFIX=ethusdt
CURRENT_UID=1001
CURRENT_GID=1001

### KAFKA
KAFKA_PORT=9092
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_UI_PORT=9094
KAFKA_LOG_RETENTION_HOURS=168

## POSTGRES
DB_NAME=bot_base
DB_USER=bot_user
DB_PASSWORD=TgPRcASXDjpZNQxYsZ85vzV
DB_PORT=5556