KAFKA_URL=kafka:9092
KAFKA_TOPIC=market.price

# Период загрузки
YEAR_FROM=2017
YEAR_TO=2026

# CoinMarketCap IDs
COINMARKETCAP_BTC_ID=1
COINMARKETCAP_ETH_ID=1027
COINMARKETCAP_BNB_ID=1839

# Фильтры для publish (опционально)
# PUBLISH_COIN=eth
# PUBLISH_DATE_FROM=2023-01-01
# PUBLISH_DATE_TO=2024-01-01

SIMULATE_DELAY_MS=0