KAFKA_URL=kafka:9092
KAFKA_TOPIC=collectors.market.price
DB_PORT=5432
SYMBOL=ETHUSDT
YEAR_FROM=2019
YEAR_TO=2026
SIMULATE_DELAY_MS=0

# Фильтры для publish/simulate (опционально)
# PUBLISH_DATE_FROM=2023-01-01
# PUBLISH_DATE_TO=2024-01-01
